/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button:hover{
	-fx-backgroud-color: #00c853;
}

.button{
	-fx-backgroud-color: #ffffff;
}

.pane{
	
}
